<html !DOCTYPE>
  <head>
    <title>Pong</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <div id="content">
      <div id="scoreboard"></div>
      <canvas style="border:1px solid black" id="pong" height="600" width="600">A better broswer, you need</canvas>
      <div id="winner"></div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script data-main="/js/main" src="/js/lib/require.js"></script>
</html>
